<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Brawl Stars!!</h1>
    <img src = "{{ url_for('static', filename='brawlstars.png')}}" alt="Brawl Stars Image">
    <p>
        <br><strong>1. Game Modes / Gameplay</strong><br><br>

— Matches usually last only a few minutes<br>

— Players move, aim, and attack using simple controls<br>

— Different modes have different goals, like collecting gems, surviving, or scoring points<br>


<br><strong>2. The World</strong><br><br>

— Battles take place in small, colorful arenas<br>

— Maps include walls, bushes, and obstacles that affect gameplay<br>

— Each mode has its own map style and layout<br>

<br><strong>3. Brawlers & Progression</strong><br><br>

— Each Brawler has unique attacks and a powerful special ability<br>

— Players unlock new Brawlers, upgrades, and gadgets<br>

— Progression comes from playing matches and completing quests<br>


<br><strong>4. Community & Events</strong><br><br>

— Frequent updates add new content and balance changes<br>

— Players can team up with friends or play solo<br>

— The game has a large, competitive community and events<br>
    </p>
</body>
</html>