<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Fall Guys!!</h1>
    <img src = "{{ url_for('static', filename='fallguys.png')}}" alt="Fall Guys Image">
    <p>
        <br><strong>1. Game Modes / Gameplay</strong><br><br>

— Matches include obstacle races, team games, and survival rounds<br>

— Players run, jump, dive, and grab to avoid falling<br>

— Rounds get harder as players are eliminated<br>

<br><strong>2. The World</strong><br><br>

— Levels are bright, playful, and full of moving obstacles<br>

— Courses include spinning platforms, slime, and ramps<br>

— The cartoon style keeps the game lighthearted and fun<br>

<br><strong>3. Progression</strong><br><br>

— Players earn rewards by playing matches<br>

— Costumes, colors, and emotes can be unlocked<br>

— Seasonal updates add new levels and themes<br>

<br><strong>4.Community & Fun</strong><br><br>

— The game is popular with friends and streamers<br>

— Random moments make every match different<br>

— It's known for humor, chaos, and silly competition
    </p>
</body>
</html>