<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended FNAF!!</h1>
    <img src = "{{ url_for('static', filename='fnaf.png')}}" alt="FNAF Image">
     <p>
         <br><strong>1. Game Modes / Gameplay</strong><br><br>

         -You play as a night security guard watching over a building.<br>

         -The goal is to survive from midnight to morning by monitoring cameras, lights, doors, or systems.<br>

         -You must carefully manage power and tools—using them too much can leave you defenseless.<br>

         <br><strong>2. The Setting</strong><br><br>

         -The games mostly take place in closed locations like pizza restaurants or facilities.<br>

         -Animatronic characters move around the building when you’re not watching them.<br>

         -The atmosphere is dark and tense, designed to make players feel uneasy (without graphic content).<br>

         <br><strong>3. Progression</strong><br><br>

         -Each night gets harder as the animatronics become more active.<br>

         -Later games add new mechanics, characters, and systems to manage.<br>

         -Players slowly uncover story details through clues, mini-games, and hidden messages.<br>

         <br><strong>4. Story & Community</strong><br><br>

         -The series has a deep, mysterious story told indirectly, encouraging theories and discussion.<br>

         -Fans create artwork, videos, theories, and custom games.<br>

         FNAF has expanded into books, spin-offs, and a movie.
     </p>
</body>
</html>