<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Geometry Dash!!</h1>
    <img src = "{{ url_for('static', filename='geometrydash.png')}}" alt="Geometry Dash Image">
     <p>
         <br><strong>1. Game Modes / Gameplay</strong><br><br>

         You control a cube (and other forms later) that moves automatically.<br>

         Tapping makes your character jump, fly, flip gravity, or change modes.<br>

         One mistake restarts the level, so timing and practice are key.<br>

         <br><strong>2. The World</strong><br><br>

         Levels are made up of spikes, platforms, portals, and moving hazards.<br>

         Each level is synced to energetic music that helps guide timing.<br>

         Visual effects and colors change as levels progress.<br>

         <br><strong>3. Progression</strong><br><br>

         Levels increase in difficulty, from easy to extremely challenging.<br>

         Players unlock new icons, colors, and effects.<br>

         Coins and achievements reward exploration and skill.<br>

         <br><strong>4. Creativity & Community</strong><br><br>

         A powerful level editor lets players create and share custom levels.<br>

         The community makes everything from beginner levels to extreme challenges.<br>

         Geometry Dash has a huge fan base, competitions, and long-lasting popularity.<br>
     </p>
</body>
</html>