<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Halo!!</h1>
    <img src = "{{ url_for('static', filename='halo.png')}}" alt="Halo Image">
    <p>
        <br><strong>1. Game Modes / Gameplay</strong><br><br>

-Campaign: Play through a story with missions that mix combat, exploration, and vehicles.<br>

-Multiplayer: Compete online or locally in team-based matches with different objectives.<br>

-Co-op & Custom Games: Play missions or create matches with friends.<br>

<br><strong>2. The World</strong><br><br>

-Set in a futuristic universe with alien structures and space environments.<br>

-Players explore planets, space stations, and massive ring-shaped worlds called Halos.<br>

-Vehicles like tanks and aircraft are a big part of gameplay.<br>

<br><strong>3. Progression</strong><br><br>

-Players unlock cosmetics, ranks, and achievements.<br>

-Skill comes from learning maps, weapon placements, and teamwork.<br>

-Campaigns often continue a larger story across multiple games.<br>

<br><strong>4. Story & Community</strong><br><br>

-The story centers on heroism, survival, and protecting humanity.<br>

-Halo has a long-standing fanbase with competitive play, esports, and creative custom modes.<br>

-It's known for its music, memorable characters, and balanced multiplayer.<br>
    </p>
</body>
</html>