<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Mario Kart!!</h1>
    <img src = "{{ url_for('static', filename='mariokart.png')}}" alt="Mario Kart Image">
     <p>
         <br><strong>1. Game Modes / Gameplay</strong><br><br>

         Players race against others or computer opponents.<br>

         You steer, drift, and boost while collecting items like shells and bananas.<br>

         Items can help you catch up or slow down opponents, making races unpredictable.<br>

         <br><strong>2. The World</strong><br><br>

         Tracks are based on Mario-themed locations like castles, beaches, cities, and space.<br>

         Each track has shortcuts, jumps, and hazards.<br>

         Bright visuals and energetic music keep races fun and fast-paced.<br>

         <br><strong>3. Progression</strong><br><br>

         Winning races earns trophies and unlocks new cups, characters, and vehicles.<br>

         Players can customize karts with different bodies, tires, and gliders.<br>

         Higher difficulty levels require better drifting and item strategy.<br>

         <br><strong>4. Creativity & Community</strong><br><br>

         Play with friends locally or online.<br>

         Battle modes and time trials add variety.<br>

         Mario Kart is popular at parties and competitive events because it’s easy to learn but hard to master.<br>
     </p>
</body>
</html>