<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Moto X3M!!</h1>
    <img src = "{{ url_for('static', filename='motox3m.png')}}" alt="Moto X3M Image">
    <p>
        <br><strong>1. Game Modes / Gameplay</strong><br><br>

— Players control a motorcycle and race against the clock<br>

— Flips and tricks reduce your total time<br>

— Crashing slows you down, so balance and control are important<br>

<br><strong>2. The World</strong><br><br>

— Tracks are filled with ramps, spikes, moving platforms, and traps<br>

— Each level has a different theme and layout<br>

— The environments are bright and animated<br>

3. Progression<br>

— Levels increase in difficulty as you advance<br>

— Stars are earned based on completion time<br>

— New bikes and versions unlock as you improve<br>

<br><strong>4. Fun & Community</strong><br><br>

— The game is popular on browser and mobile platforms<br>

— Players enjoy speedrunning and beating high scores<br>

— Simple controls make it easy to learn but hard to master<br>
    </p>
</body>
</html>