<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Rocket League!!</h1>
    <img src = "{{ url_for('static', filename='rocketleague.png')}}" alt="Rocket League Image">
    <p><br><strong>1. Game Modes / Gameplay</strong><br><br>
  
-Players drive cars that can boost, jump, and flip.<br>

-Matches are usually 1v1, 2v2, or 3v3.<br>

-Timing, positioning, and teamwork are more important than raw speed.<br>

<br><strong>2. The World</strong><br><br>

-Games take place in enclosed arenas with different themes.<br>

-Walls and ceilings can be driven on, allowing aerial plays.<br>

-The arenas are designed to keep matches fast and fair.<br>

<br><strong>3. Progression</strong><br><br>

-Players earn experience to level up.<br>

-Ranked modes place players into skill tiers.<br>

-Improving mechanics like aerials, dribbling, and rotations helps you climb ranks.<br>

<br><strong>4. Customization & Community</strong><br><br>

-Cars can be customized with decals, wheels, boosts, and goal explosions.<br>

-The game has a strong competitive and esports community.<br>

-Regular updates, events, and new modes keep the game fresh.</p>
</body>
</html>