<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Spider Man!!</h1>
    <img src = "{{ url_for('static', filename='spiderman.png')}}" alt="Spider-Man Image">
    <p>
        <br><strong>1. Game Modes / Gameplay</strong><br><br>

-Players swing through the city using webs, run on walls, and perform acrobatic moves.<br>

-Combat mixes gadgets, quick attacks, and dodging enemies.<br>

-Story missions are combined with side activities like stopping crimes or helping citizens.<br>

<br><strong>2. The World</strong><br><br>

-The games usually take place in a large, open-world city.<br>

-The city is full of landmarks, challenges, and hidden collectibles.<br>

-Day and night cycles and changing weather make the world feel alive.<br>

<br><strong>3. Progression</strong><br><br>

-Completing missions earns experience points.<br>

-Players unlock new skills, suits, and upgrades.<br>

-New abilities improve combat, movement, and gadgets as the story continues.<br>

<br><strong>4. Story & Community</strong><br><br>

-The story focuses on responsibility, heroism, and balancing life as Spider-Man.<br>

-Many suits are inspired by comics, movies, and original designs.<br>

-Fans enjoy exploring the city, mastering movement, and sharing gameplay clips.<br>
    </p>
</body>
</html>