<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Subway Surfers!!</h1>
    <img src = "{{ url_for('static', filename='subwaysurfers.png')}}" alt="Subway Surfers Image">
     <p>
         <br><strong>1. Game Modes / Gameplay</strong><br><br>

         -You control a character who runs automatically forward.<br>

         -Swipe to jump, roll, or switch lanes to avoid trains and barriers.<br>

         -The game ends when you crash, but you can restart and try again.<br>

         <br><strong>2. The World</strong><br><br>

         -The tracks are set in subway systems inspired by real cities.<br>

         -New locations rotate regularly, changing the look and theme of the game.<br>

         -Bright colors and smooth animations keep the game fast and fun.<br>

         <br><strong>3. Progression</strong><br><br>

         -Collect coins to unlock new characters, boards, and upgrades.<br>

         -Power-ups like jetpacks, magnets, and score boosters help you run farther.<br>

         -Daily challenges and missions give extra rewards.<br>

         <br><strong>4. Creativity & Community</strong><br><br>

         -Players customize characters and hoverboards with different styles.<br>

         -The game has events, seasonal updates, and leaderboards.<br>

         -It’s one of the most popular mobile games worldwide because it’s easy to learn and hard to master.
     </p>
</body>
</html>