<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Super Smash Bros.!!</h1>
    <img src = "{{ url_for('static', filename='supersmashbros.png')}}" alt="Super Smash Bros Image">
     <p>
         <br><strong>1. Game Modes / Gameplay</strong><br><br>

         Smash Battles: Up to four (or more) players fight at once.<br>

         Attacks increase an opponent’s damage percentage, making them easier to launch.<br>

         Matches can be played casually with items or competitively with fewer rules.<br>

         <br><strong>2. The World</strong><br><br>

         Stages are based on famous locations from Nintendo and other game series.<br>

         Each stage has platforms, hazards, and unique layouts.<br>

         Music and visuals celebrate gaming history.<br>

         <br><strong>3. Characters</strong><br><br>

         A large roster of fighters from different franchises, each with unique moves.<br>

         Characters play very differently, encouraging many playstyles.<br>

         New characters are added in newer games, expanding the crossover.<br>

         <br><strong>4. Progression & Community</strong><br><br>

         Players unlock characters, stages, and modes in some entries.<br>

         The game is popular at parties, tournaments, and esports events.<br>

         Super Smash Bros. has a huge competitive and casual community.<br>
     </p>
</body>
</html>