<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Valorant!!</h1>
    <img src = "{{ url_for('static', filename='valorant.png')}}" alt="Valorant Image">
     <p>
         <br><strong>1. Game Modes</strong><br><br>

         -Unrated: Standard matches where teams play without affecting rank.<br>

         -Competitive: Ranked matches where players climb tiers based on performance and teamwork.<br>

         -Spike Rush: A shorter, faster version of the main mode.<br>

         -Deathmatch & Practice Modes: Used to improve aim and learn weapons.<br>

         <br><strong>2. The World</strong><br><br>

         -Matches take place on carefully designed maps with lanes, choke points, and objectives.<br>

         -Two teams of five take turns attacking and defending.<br>

         -Attackers try to plant the Spike, while defenders try to stop it or defuse it.<br>

         <br><strong>3. Agents & Abilities</strong><br><br>

         -Players choose Agents, each with unique abilities.<br>

         -Agents fall into roles like Duelists, Controllers, Sentinels, and Initiators.<br>

         -Abilities support gunplay—they help control space, gather information, or protect teammates.<br>

         <br><strong>4. Progression & Community</strong><br><br>

         -Players improve by learning maps, mastering aim, and coordinating with their team.<br>

         -You can unlock cosmetic items like skins, sprays, and player cards.<br>

         -Valorant has a large esports scene, regular updates, and an active competitive community.
     </p>
</body>
</html>