<!DOCTYPE html>
<html>
    <head>
        <title>Your recommendation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
    </head>
<body>
    <h1>You got recommended Wii Sports!!</h1>
    <img src = "{{ url_for('static', filename='wiisports.png')}}" alt="Wii Sports Image">
    <p>
        <br><strong>1. Game Modes / Gameplay</strong><br><br>

-Players use motion controls to swing, throw, or move, matching real-life actions.<br>

-Sports include Tennis, Baseball, Bowling, Golf, and Boxing.<br>

-Games can be played solo or with friends and family.<br>

<br><strong>2. The World</strong><br><br>

-The game takes place in clean, simple sports environments.<br>

-Characters are Miis, customizable avatars that represent players.<br>

-The minimal design keeps the focus on movement and fun.<br>

<br><strong>3. Progression</strong><br><br>

-Playing well increases your skill level in each sport.<br>

-As you improve, opponents become more challenging.<br>

-The game encourages practice and physical activity rather than upgrades.<br>

<br><strong>4. Community & Impact</strong><br><br>

-Wii Sports helped introduce motion gaming to a wide audience.

-It's famous for parties, family gatherings, and casual competition.

-The game became one of the best-selling video games of all time.
    </p>
</body>
</html>